// Font
$font-regular: 'OpenSans-Regular';
$font-semibold: 'OpenSans-Semibold';
$font-bold: 'OpenSans-Bold';
$font-large: 'Rockwell-ExtraBold';
$font-size: 100%;
$letter-spacing: 0;

// Colors
$clr-default: #00151e;
$clr-invert: #fff;
$clr-addit: #00151e;
$clr-addit2: #00151e;
$clr-link: #0399de;
$clr-underline: #0399de;
$clr-btn: #0399de;
$clr-btn-dark: #005176;
$clr-txt-btn: #002739;
$clr-txt-btn-hvr: #fff;

// Paths
$img: '../images/';
$img-icons: '../images/icons/';

// Misc
$padding: 15px;
$transition: all 0.3s ease 0s;
$transition2: all 0.5s ease 0s;
// Breakpoints 
/*$bp-huge: 2000px;
$bp-big: 1500px;
$bp-wide: 1200px;
$bp-medium: 960px;
$bp-small: 768px;*/

