@charset "UTF-8";
/*$bp-huge: 2000px;
$bp-big: 1500px;
$bp-wide: 1200px;
$bp-medium: 960px;
$bp-small: 768px;*/
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans/OpenSans-Regular.eot");
  src: local("☺"), url("../fonts/OpenSans/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype"), url("../fonts/OpenSans/OpenSans-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Semibold";
  src: url("../fonts/OpenSans/OpenSans-Semibold.eot");
  src: local("☺"), url("../fonts/OpenSans/OpenSans-Semibold.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Semibold.ttf") format("truetype"), url("../fonts/OpenSans/OpenSans-Semibold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/OpenSans/OpenSans-Bold.eot");
  src: local("☺"), url("../fonts/OpenSans/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Bold.ttf") format("truetype"), url("../fonts/OpenSans/OpenSans-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-ExtraBold";
  src: url("../fonts/OpenSans/OpenSans-ExtraBold.eot");
  src: local("☺"), url("../fonts/OpenSans/OpenSans-ExtraBold.woff") format("woff"), url("../fonts/OpenSans/OpenSans-ExtraBold.ttf") format("truetype"), url("../fonts/OpenSans/OpenSans-ExtraBold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Rockwell-ExtraBold";
  src: url("../fonts/Rockwell/Rockwell-ExtraBold.eot");
  src: local("☺"), url("../fonts/Rockwell/Rockwell-ExtraBold.woff") format("woff"), url("../fonts/Rockwell/Rockwell-ExtraBold.ttf") format("truetype"), url("../fonts/Rockwell/Rockwell-ExtraBold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*---------------------
  Global Styles
---------------------*/
/* Partial CSS Reset */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border: 0 none;
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
}

td {
  vertical-align: top;
}

/* Form Reset */
input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  font-family: Arial;
}

/* These elements are usually rendered a certain way by the browser */
button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Text Inputs
-----------------------------------------------*/
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

button,
input[type="reset"],
input[type="button"],
input[type="submit"] {
  cursor: pointer;
}

input[type="submit"]::-moz-focus-inner {
  /* Fix extra button padding in Firefox */
  padding: 0;
  border: none;
  line-height: 1;
}

input[type]:-webkit-autofill,
input[type]:-webkit-autofill:hover,
input[type]:-webkit-autofill:focus,
input[type]:-webkit-autofill:active {
  /* Fix input background with autocomplete */
  -webkit-transition: background-color 5000s ease-in-out 0s;
  -o-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff !important;
  text-fill-color: #fff !important;
}

input:focus {
  outline: 0;
}

textarea {
  resize: none;
}

::-webkit-input-placeholder {
  color: #ccc;
}

/*---------------------
	Typography
---------------------*/
h1 {
  font: 58px/58px "Rockwell-ExtraBold";
  font-weight: normal;
  text-transform: uppercase;
  color: #002739;
}

h1 span {
  display: block;
  font: 16px/26px 'OpenSans-ExtraBold';
  color: #005176;
}

h2 {
  font: 38px/44px "Rockwell-ExtraBold";
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
}

h2 span {
  display: block;
  font: 18px 'OpenSans-Regular';
}

h3 {
  font: 22px/28px "Rockwell-ExtraBold";
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #005176;
}

h4 {
  font: 22px/28px "OpenSans-Regular";
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}

h5 {
  font: 16px/25px "OpenSans-Regular";
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}

p {
  margin-bottom: 25px;
  line-height: 24px;
}

p a {
  color: #0399de;
  font-family: 'OpenSans-Bold';
}

p a:hover {
  color: #005176;
}

strong {
  font-weight: normal;
  font-family: 'OpenSans-ExtraBold';
}

sup {
  font-size: 11px;
}

/*---------------------
	General
---------------------*/
body {
  line-height: normal;
  font: 100% "OpenSans-Regular";
  color: #00151e;
}

.clearfix ::after {
  clear: both;
  content: '';
  display: table;
}

/* Links */
a,
a:link,
a:visited,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  outline: none;
  color: inherit;
}

a {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

a:before, a:after {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

/* Containers */
.container {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 15px;
}

.flex-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

/* Misc */
.align-left {
  text-align: left !important;
}

.align-center {
  text-align: center !important;
}

.align-right {
  text-align: right !important;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.padding {
  padding: 0 15px;
}

.padding-right {
  padding-right: 15px;
}

.padding-left {
  padding-left: 15px;
}

.full-size {
  height: 100%;
  width: 100%;
}

.w-100 {
  height: 100%;
}

.h-100 {
  height: 100%;
}

.relative {
  position: relative;
}

.hide {
  display: none !important;
}

.hidden, i[class^=ico]:before, .nav-menu a:after {
  visibility: hidden;
  opacity: 0;
}

.visible, a:hover i[class^=ico]:before, .nav-menu > li.active > a:after,
.nav-menu > li > a:hover:after,
li.has-child:hover > a:after,
li.has-child:hover .sub-menu, .search-btn.close .ico-search:before, .search-box.show {
  visibility: visible;
  opacity: 1;
}

.no-scroll {
  overflow: hidden;
}

.large-text {
  font: 28px/36px 'OpenSans-ExtraBold';
  text-transform: uppercase;
  margin-bottom: 20px;
}

.large-text span {
  display: block;
  font: 76px/76px 'Rockwell-ExtraBold';
}

/* Buttons */
.btn, .btn-top {
  display: inline-block;
  vertical-align: top;
  letter-spacing: 0.5px;
  white-space: nowrap;
  text-transform: uppercase;
  text-align: center;
}

.btn {
  font: 1em 'OpenSans-ExtraBold';
  min-width: 210px;
  padding: 14px 20px 13px;
  border: 5px solid #0399de;
  color: #002739;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn:hover {
  color: #fff;
  background-color: #0399de;
}

.btn i:before {
  color: #fff;
}

.btn.filled {
  background: #005176;
  border-color: #005176;
  color: #fff;
}

.btn.filled:hover {
  color: #fff;
  background-color: #0399de;
  border-color: #0399de;
}

/* Image Box */
.img-box {
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
          background-size: cover;
}

.img-box:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-border-radius: inherit;
  border-radius: inherit;
  background: rgba(0, 39, 57, 0.3);
}

.img-box .relative {
  z-index: 1;
}

/* Icons */
.ico-phone, .ico-search, .ico-dollar {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

i[class^=ico]:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.ico-phone {
  width: 12px;
  height: 12px;
  background: url(../images/icons/phone.png);
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-background-size: 100% 100%;
          background-size: 100%;
  margin-right: 8px;
  top: -1px;
}

.ico-search {
  width: 15px;
  height: 15px;
  background: url(../images/icons/search.png);
}

.ico-search:before {
  background: url(../images/icons//search-hvr.png) no-repeat;
}

.ico-dollar {
  width: 9px;
  height: 18px;
  background: url(../images/icons/dollar.png);
  margin: -3px 9px 0 0;
}

.ico-dollar:before {
  background: url(../images/icons//dollar-hvr.png) no-repeat;
}

/* Slick Slider main styles */
.slick-initialized .slick-slide {
  z-index: 7 !important;
}

.slick-initialized .slick-slide .slick-slide.slick-active {
  z-index: 8 !important;
}

.slick-vertical .slick-slide {
  position: relative;
  border: none;
}

.slick-slide img {
  margin: 0 auto 20px;
}

.slick-arrow {
  width: 48px;
  height: 173px;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
}

.top-slider:hover .slick-arrow {
  opacity: 1;
  visibility: visible;
}

.slick-arrow.slick-prev {
  left: -webkit-calc(50% - 550px);
  left: calc(50% - 550px);
  background: url(../images/arrows/sl-arr-left.png) no-repeat;
}

.slick-arrow.slick-next {
  right: -webkit-calc(50% - 550px);
  right: calc(50% - 550px);
  background: url(../images/arrows/sl-arr-right.png) no-repeat;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-dots {
  line-height: 0;
  bottom: 0;
}

.slick-dots li {
  width: 9px;
  height: 9px;
  vertical-align: top;
  margin: 0 5px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
}

.slick-dots li.slick-active {
  background-color: #fff;
}

.slick-dots li .slick-dots li button {
  display: none;
}

#header {
  height: 140px;
}

.header-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-box-shadow: 0 3px 8px 0 rgba(1, 1, 1, 0.1);
          box-shadow: 0 3px 8px 0 rgba(1, 1, 1, 0.1);
  z-index: 120;
}

.top-bar {
  font: 14px 'OpenSans-Semibold';
  color: #fff;
  background: url(../images/layout/header.jpg) center top #002739;
  height: 40px;
}

.top-bar .container {
  max-width: 1230px;
  padding: 0;
  height: 100%;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -webkit-box-pack: end;
          justify-content: flex-end;
  -ms-flex-pack: flex-end;
}

.top-menu li {
  margin-right: 30px;
}

.top-menu li a {
  color: #fff;
}

.top-menu li a:hover {
  color: #0399de;
}

.btn-top {
  font: 14px 'OpenSans-Bold';
  background: #005176;
  height: 100%;
  padding: 10px 15px;
  width: 100%;
  max-width: 232px;
}

/* Main Navigation*/
.header-menu {
  position: relative;
  background-color: #fff;
  height: 100px;
}

.header-menu .flex-wrap {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -ms-flex-pack: space-between;
}

.header-menu .flex-cell:first-child {
  width: 176px;
  -webkit-align-content: center;
  -ms-align-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.header-menu .flex-cell:last-child {
  width: 174px;
}

.header-menu .btn {
  min-width: auto;
}

.main-nav {
  height: 100%;
}

.main-nav nav, .main-nav .nav-menu, .main-nav li, .main-nav a {
  height: 100%;
}

#nav-btn,
#nav-close-btn {
  font-size: 35px;
}

.nav-menu li {
  padding: 0 18px;
}

.nav-menu li.has-child {
  position: relative;
}

.nav-menu li.active > a,
.nav-menu li:hover > a {
  font-family: 'OpenSans-ExtraBold';
  color: #0399de;
}

.nav-menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  white-space: nowrap;
  font: 16px 'OpenSans-Bold';
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #002130;
}

.nav-menu a:after {
  content: "";
  display: block;
  width: 100%;
  height: 12px;
  background-color: #005176;
  position: absolute;
  bottom: 0;
}

.sub-menu {
  width: 292px;
  padding: 35px 34px 35px 34px;
  text-align: center;
  background-color: #005176;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
      transform: translate(-50%);
  opacity: 0;
  visibility: hidden;
  z-index: 5;
}

.sub-menu li {
  margin-bottom: 20px;
}

.sub-menu li.last-child {
  margin-bottom: 0;
}

.sub-menu a {
  color: #fff;
}

.sub-menu a:hover {
  color: #0399de;
}

/* Search */
.search-btn {
  position: relative;
  margin-right: 30px;
}

.search-btn.close:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7px 7px 7px;
  border-color: transparent transparent #00293d transparent;
  position: absolute;
  top: -15px;
  z-index: 1;
}

.search-btn.close .ico-search {
  background: none;
}

.search-btn.close .ico-search:before {
  content: "X";
  font: 17px/17px 'OpenSans-Bold';
  font-style: normal;
  position: absolute;
  left: 1px;
  top: -2px;
  background: none;
}

.search-btn.close:hover .ico-search:before {
  color: #0399de;
}

.search-box {
  background: #fff;
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.search-box.show {
  height: 102px;
  padding: 22px 0 20px 0;
}

.search-box .search-form {
  padding: 0 48px 0 40px;
}

.search-box ::-webkit-input-placeholder {
  color: #002130;
}

.search-box :-moz-placeholder {
  color: #002130;
}

.search-box :-ms-input-placeholder {
  color: #002130;
}

.search-box input[type=text] {
  font: 16px 'OpenSans-Bold';
  text-transform: uppercase;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 13px 20px 12px 27px;
  border-left: 1px solid #002739;
  color: #002130;
}

.search-box input[type=submit] {
  width: 60px;
  height: 60px;
  background: url(../images/icons/search-dark.png) no-repeat center center;
  border: 6px solid #0399de;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.search-box input[type=submit]:hover {
  background: url(../images/icons/search.png) no-repeat center center #0399de;
}

/* Fixed Header */
#inner #header, .fixed #header {
  height: 120px;
}

#inner .top-bar, .fixed .top-bar {
  height: 36px;
}

#inner .btn-top, #inner .top-menu, .fixed .btn-top, .fixed .top-menu {
  padding-top: 7px;
}

#inner .search-btn.close:before, .fixed .search-btn.close:before {
  top: -12px;
}

#inner .header-menu, .fixed .header-menu {
  height: 84px;
}

#inner .header-menu .cell:first-child, .fixed .header-menu .cell:first-child {
  width: 150px;
}

#inner .nav-menu, .fixed .nav-menu {
  padding-top: 34px;
}

#inner .search-box.show, .fixed .search-box.show {
  height: 80px;
  padding: 10px 0 20px 0;
}

/* Top Banner */
.banner {
  position: relative;
  min-height: 600px;
}

.banner .top-slider {
  height: 100%;
  z-index: 1;
}

.banner .single-banner {
  height: 100%;
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

.banner .single-banner:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 39, 57, 0.3);
}

.banner .single-banner .flex-wrap {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.banner .single-banner .container {
  z-index: 2;
}

.banner-text {
  width: 100%;
  color: #fff;
  text-align: center;
}

.banner-text p {
  margin-bottom: 25px;
  line-height: 28px;
}

.banner-text p:last-child {
  margin-bottom: 0;
}

.banner-content {
  margin-bottom: 30px;
}

.banner-content,
.banner-text p {
  font: 16px/24px 'OpenSans-Bold';
  text-transform: uppercase;
}

.banner .slick-list,
.banner .slick-track {
  height: 100%;
  -webkit-transform: none !important;
  -ms-transform: none !important;
  transform: none !important;
}

.banner .slick-dots {
  max-width: 1130px;
  width: 100%;
  margin: 0 auto;
  position: static;
}

.slider-control {
  position: absolute;
  z-index: 8;
  width: 100%;
  bottom: 79px;
}

.banner .move-down {
  position: absolute;
  bottom: 140px;
  left: 50%;
  margin-left: -13px;
  z-index: 2;
}

.move-down:after {
  content: "\f107";
  display: block;
  font: 52px/15px Font Awesome\ 5 Pro;
  font-weight: 300;
  color: #fff;
}

.sub-banner {
  height: 337px;
  padding: 30px 0;
}

.sub-banner:after {
  background: rgba(0, 39, 57, 0.25);
}

.sub-banner .large-text {
  margin-bottom: 0;
}

.sub-banner .large-text span {
  display: block;
  font: 66px/66px 'Rockwell-ExtraBold';
}

/*=== ABOUT SECTION ===*/
.about-wrapper {
  position: relative;
  margin-bottom: -85px;
  background: url(../images/layout/wood.jpg);
}

.about-wrapper .container {
  max-width: 1200px;
}

.about-wrapper .flex-cell:first-child {
  padding: 85px 85px 170px 95px;
}

.about-wrapper .flex-cell:last-child {
  width: 416px;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-flex-grow: 0;
  -moz-flex-grow: 0;
  -ms-flex-grow: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.about-wrapper .img-box:before {
  content: "";
  background: url(../images/banners/stamp.png) no-repeat;
  width: 281px;
  height: 284px;
  position: absolute;
  top: 60px;
  left: -35px;
  z-index: 1;
}
